<div class="container">
    <div class="user-form">
        <h1>Regístrate</h1>
        <form id="myForm" action="" method="post" [formGroup]="UserRegistrationForm" (submit)="onSubmit()">
            <div class="fields-section">
                <input type="text" placeholder="Nombre" formControlName="name" id="name" required>
                <input type="email" placeholder="Email" formControlName="email" id="email" required>
                <input type="password" placeholder="Contraseña" formControlName="password" id="password" required>

                <button class="registrarButton" type="submit">Crear Cuenta</button>
                <div id="errorMessages" class="error-messages" [innerHTML]="errorMessage">{{errorMessage}}</div>
            </div>
        </form>
    </div>
    <div class="inicio-sesion">
        <h3>¿Ya tienes una cuenta?</h3>
        <button class="cancelButton" type="button" (click)="cancelar()">Iniciar Sesion</button> 
    </div>
</div>
